html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #04afa7;
	text-align: center;
}

canvas {
	margin-top:10px;
}

#main{
	background: white;
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
	margin:auto;
	padding:10px;
}

#background {
    background: url("background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
	position: absolute;
	z-index: -1;
}

#background-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-image: radial-gradient(#e0e0e0, #212121);
}
